body {
    font-family: Arial, sans-serif;
    margin: 0%;
    padding-top: 10px;
    background-color: rgb(255, 214, 214);

}

.head {
  position: relative;
  text-align: center;
}

h1 {
    text-align: center;
    margin-top: 10px;
    color: rgb(19, 15, 15);
}

header {
    background-color: #9a3b3b;
    padding: 2px;
    text-align: center;
    position: fixed;
    width: 100%;
    
}

p{
    display: flex;
}
nav{
    position:sticky;
}
nav ul {
    list-style-type: none;
    padding: 0;
    position:sticky;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    position:sticky;
}

.gallery {
    width: 80%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 20px;
  }
  .card-1 {
    border-radius: 30px;
  }
  .gallery img {
    width: 90%;
    margin-left: 15px;
    border-radius: 10px;
  }
  .btn {
    height: 50px;
    position: sticky;
    top: 30px;
    border-radius: 10px;;
    width: 90px;
    background-color: rgb(231, 218, 214);
    margin-bottom: 10px;
    border-radius: 10px;
    margin-left: 20px;
  }