body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    min-height: 100vh;
}

.sidebar{
    background-color: gray;
    width: 200px;

}
.content{
   
    width: 100%;
    background-color: pink;
}
.menu-items{
    background-color: #fff;
    margin: 15px;
    border-radius: 5px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;

}
.active-menu{
    background-color:pink;
}
.menu-items:hover{
    background-color: rgb(197, 173, 173);
}
.menu-icon{
    height: 25px;
}
.menu-text{
    margin:10px  ;
    font-size:20px;
}
h1{
    text-align: center;
    color: rgb(102, 8, 27);
    font-family: cursive;
    font-size: 50px;
}
.h1{
    background-color: rgb(199, 64, 87);
}
h3{
    text-align: center;
    color: rgb(102, 8, 27);
    font-family: cursive;
    font-size:30px;
}
.para{
    border-radius: 30px;
    border:2px dotted rgb(227, 88, 111);
    padding: 10p;
    margin:10px;
    text-align: center;
    font-size: 20px;
    font-family: cursive;
}

.btn{
    border-radius: 30px;
    background-color: palevioletred;
    border: none;
    height:50px;
    width: 100px;
    margin-left: 470px;
    margin-top:50px;
    color:white;
    font-size: 15px;
    font-family: cursive;
}
.btn:hover{
    transform: 200ms;
    box-shadow: 5px 5px 15px 10px rgb(220, 71, 96);

}
.bottom-navigation-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: gray;
    color: white;
    display: none;
}
.bottom-menu-icon{
    background-color: white;
    margin: 5px;
    padding: 5px;
    height: 25px;
    border-radius:10px;
   
}
@media screen and (max-width:600px){ 
    .sidebar{
        display: none;
    }
    .bottom-navigation-bar{
        display:flex;
        justify-content: space-around;
    }
    h1{
        text-align: center;
        color: rgb(102, 8, 27);
        font-family: cursive;
        font-size: 30px;
    }
    .h1{
        background-color: rgb(199, 64, 87);
    }
    h3{
        text-align: center;
        color: rgb(102, 8, 27);
        font-family: cursive;
        font-size:30px;
    }
    .para{
        border-radius: 30px;
        border:2px dotted rgb(227, 88, 111);
        padding: 10p;
        margin:10px;
        text-align: center;
        font-size: 10px;
        font-family: cursive;
    }
    
    .btn{
        border-radius: 30px;
        background-color: palevioletred;
        border: none;
        height:50px;
        width: 100px;
        margin:30px;
        color:white;
        font-size: 15px;
        font-family: cursive;
    }
    .btn:hover{
        transform: 200ms;
        box-shadow: 5px 5px 15px 10px rgb(220, 71, 96);
    
    }
    
}


@media screen and (min-width:601px) and (max-width:768px){ 
    .sidebar{
        display: none;
    }
    .bottom-navigation-bar{
        display:flex;
        justify-content: space-around;
    }
    h1{
        text-align: center;
        color: rgb(102, 8, 27);
        font-family: cursive;
        font-size: 30px;
    }
    .h1{
        background-color: rgb(199, 64, 87);
    }
    h3{
        text-align: center;
        color: rgb(102, 8, 27);
        font-family: cursive;
        font-size:30px;
    }
    .para{
        border-radius: 30px;
        border:2px dotted rgb(227, 88, 111);
        padding: 10p;
        margin:10px;
        text-align: center;
        font-size: 10px;
        font-family: cursive;
    }
    
    .btn{
        border-radius: 30px;
        background-color: palevioletred;
        border: none;
        height:50px;
        width: 100px;
        margin:30px;
        color:white;
        font-size: 15px;
        font-family: cursive;
    }
    .btn:hover{
        transform: 200ms;
        box-shadow: 5px 5px 15px 10px rgb(220, 71, 96);
    
    }
    
}


@media screen and (min-width:769px) and (max-width:992px){ 
    
}


@media screen and (min-width:993px) and (max-width:1250px){ 
    
}