body{
    background-color: #990073;
}
#head1{
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.div1{
    border: 2px solid black;
    height: 320px;
    width: 700px;
    margin-left: 405px;
    padding: 20px;
    background-color: #ff4dd2;
    box-shadow: 10px 10px black;
    border-radius: 0 20px 0 20px;
}
ol{
    font-size: 20px;
}
.div1:hover{
    background-color: #ff80e1;
    transform: scale(0.9);
    
}